nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

nav h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: orange;
}

.Cart-button {
    padding: 10px 25px;
    border: 1px solid orange;
    background-color: orange;
    color: white;
    border-radius: 8px;
    font-size: 14px;
}